extends layout

block styles


block content
    div.jumbotron.text-center
        img(src='images/zen-logo-hd.png' style='width:30%;height:30%')
        p Terveyskauppa Bioshop Ikinuori

    #tietoa.container-fluid.bg-grey
        div.row
            div.col-sm-8
                h2 Bio-Shop Ikinuori
                p.
                    Bio-Shop Ikinuori on avara ja monipuolinen terveyskauppa,
                    joka sijaitsee Tikkurilan Kielotiellä. Olemme toimineet samassa paikassa jo miltei 20 vuotta. Liikkeestämme löytyy laaja valikoima eri luontaistuotteita ja tarjoamme samalla asiantuntevaa palvelua. Kuulumme laajaan ja tunnettuun Luontaistuntijat-ketjuun.
                    Liikkeen yhteydessä toimii myös Bio-Center-hoitola, josta saa monenlaisia hoitopalveluja.

                p Aukioloajat: 
                |MA-PE 9.30-18.00 
                |LA 10-15.00
            div.col-sm-4
                img(src='images/logo.png')
                div.video-container
                    iframe(width='540' height='295' src='https://www.youtube.com/embed/rn-CpOl24-0' frameborder='0')

    #palvelut.container-fluid.text-center.bg-grey
        h2 Palvelut

        div.row
            div.col-sm-3
                button.btn.btn-success.btn-block.btn-lg
                    h4 testi
            div.col-sm-3
                button.btn.btn-success.btn-block.btn-lg
                    h4 testi
            div.col-sm-3
                button.btn.btn-success.btn-block.btn-lg
                    h4 testi
            div.col-sm-3
                button.btn.btn-success.btn-block.btn-lg
                    h4 testi
            div.col-sm-3
                button.btn.btn-success.btn-block.btn-lg
                    h4 testi
            div.col-sm-3
                button.btn.btn-success.btn-block.btn-lg
                    h4 testi
            div.col-sm-3
                button.btn.btn-success.btn-block.btn-lg
                    h4 testi

    #tapahtumat.container-fluid.bg-grey
        h2 TAPAHTUMAT
        - $xml = simplexml_load_file('xml/tapahtumat.xml');
        - foreach ($xml->tapahtuma as $tapahtuma):
            div.col-sm-12!= $tapahtuma->title;
        - endforeach


        div.row.text-left

    #hoitajat.container-fluid.bg-grey
        h2 HOITAJAT
        - $xml = simplexml_load_file('xml/hoitajat.xml');
        - foreach ($xml->hoitaja as $hoitaja):
            div.col-sm-1!= $hoitaja->name;
        - endforeach
