@color-main: #333;
@header-height: 60px;

body, html {
	background-color:rgb(194,206,60);
	margin: 0;
}

header {
	height: @header-height;
}

.content {
	&.wide {
		color: @color-main;
	}

	img {
		background: #fff;
	}
}

.jumbotron {
      background-color: #c2ce3c;
      color: #fff;
      padding: 100px 25px;
      margin-bottom: 0px !important;
      font-family:sans-serif;
  }

.container-fluid {
      padding: 60px 50px;
  }

.bg-grey {
      background-color: #f6f6f6;
  }
