@color-main: #333;
@header-height: 60px;

body, html {
	background-color:rgb(194,206,60);
	margin: 0;
}

header {
	height: @header-height;
}

.content {
	&.wide {
		color: @color-main;
	}

	img {
		background: #fff;
	}
}