@import url(https://fonts.googleapis.com/css?family=Montserrat);

@color-main: #AEC829;

body, html {
  margin: 0;
}

.navbar {
  position: fixed;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  background: @color-main;
  box-shadow: none;
  border: none;

  background-color: @color-main;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center 0;
  background-image: url(../images/lt_bg.jpg);
  background-attachment: fixed;

  .container {
    position: relative;
    z-index: 10;
  }

  .navbar-brand {
    text-shadow: none;
    color: #fff;

    &:hover {
      color: #fff;
    }
  }

  .nav li {
    &.icon {
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 1.5em;

      i {
        width: 16px;
        height: 16px;
      }
    }

    &:hover {
      background: #fff;
      
      a {
        color: @color-main;
      }
    }

    a {
      font-size: 0.8em;
      letter-spacing: 3px;
      text-transform: uppercase;
      text-shadow: none;
      color: #fff;
    }
  }
}

.content {
  &.wide {
    color: @color-main;
  }

  img {
    background: #fff;
  }
}

.jumbotron {
  height: 400px;
  background-color: @color-main;
  background-size: 100% auto;
  background-position: center 0;
  background-image: url(../images/lt_bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;

  color: #fff;
  padding: 100px 25px;
  margin-bottom: 0px !important;
  font-family: sans-serif;

  img {
    height: 100px;
  }
}

.bg-grey {
  background-color: #f6f6f6;
}

.video-container {
  iframe {
    width: 100%;
  }
}